<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
    
<div class="container">
    
 <div class="box">
               <a href="https://images.unsplash.com/photo-1709567751515-6a0bab95fe8a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fHhIeFlUTUhMZ09jfHxlbnwwfHx8fHw%3D" >
               <img src="https://images.unsplash.com/photo-1709567751515-6a0bab95fe8a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fHhIeFlUTUhMZ09jfHxlbnwwfHx8fHw%3D" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 

<div class="box">
               <a href="https://images.unsplash.com/photo-1709710223964-8fc28565d30a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDd8RnpvM3p1T0hONnd8fGVufDB8fHx8fA%3D%3D" >
               <img src="https://images.unsplash.com/photo-1709710223964-8fc28565d30a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDd8RnpvM3p1T0hONnd8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 
     
<div class="box">
               <a href="https://images.unsplash.com/photo-1554350342-84cbb65fd7c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fHRvd0paRnNrcEdnfHxlbnwwfHx8fHw%3D" >
               <img src="https://images.unsplash.com/photo-1554350342-84cbb65fd7c6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fHRvd0paRnNrcEdnfHxlbnwwfHx8fHw%3D" alt="image"></a>
           <div class="caption">Lorem ipsum </div>
 </div> 

</div>
<!--    
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
     <script src="app.js"></script> -->

</body>
                 

</html>